/** start initialization **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    min-width: 700px;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/** end initialization **/


/** start nav **/
nav {
	padding-top: 20px;
	background-color: #760706;
	width:20%;
 	/* height:100vh; */
	float:left;
	color: #DFCED2;
	min-width: 200px;
	
	/* position: fixed; */
    position: relative;
    z-index: 30;
}
nav .friend-picture {
	width: 50px;
	height: 50px;
	display: inline-block;
	background-size: cover;
	border-radius: 25px;
	background-position: center;
}
nav .nav-friends-container {
	display: block;
	margin-top: 7px;
}
nav .profile-wrapper {
	padding-top:80px;
	height: 300px;
}
nav .profile-picture {
	height: 200px;
	width: 200px;
	margin: 0px auto;
	margin-top: 30px;
	margin-bottom: 30px;
    border-radius: 100px;
    background-size: cover;
    background-position: center 0px;
    background-repeat: no-repeat;
    z-index: 2;
    position: relative;
    
}
nav .nick {
	height: 30px;
	font-size: 30px;
	text-align: center;
}
nav .nav-goal {
	text-align: left;
	margin: 0px auto;
	padding: 20px;
	padding-left: 50px;
	background-color: #760706;
	height: 70px;
	font-size: 20px;
	margin-top: 20px;
}
nav .nav-goal span:hover{
	-webkit-animation:fade-in 2s;
	-webkit-animation-iteration-count: 2;
}
/** end nav **/

/** start flipper **/
#section-toggle{
	width: 90px;
	height:30px;
	float:right;
	font-size: 30px;
	
}
#flip-container{
	width: 100%;
	float:left;
	height:100%;
}

.flip-container {
	perspective: 1000px;
	z-index: 1;
	position: relative;
}

/* flip the pane when hovered */
.flip-container .flipper{
	transform: rotateY(180deg);
}
/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
}
/** end fliper **/

/** start make-goal **/
#make-goal{
	width:100%;
	height:100%;
	backface-visibility: hidden;
	background-color:#F5E8E8;
	transform: rotateY(180deg);
}

#make-goal .submit-form{
	padding-top: 150px;
	width: 50%;
	color: #F5E8E8;
	font-weight:bold;
	margin-left: 35%;
} 

#make-goal .goal-input {
	width: 100%;
	height: 100px;
	margin-top: 30px;
	background: #E4C7C5;
	font-size: 45px;
	text-align: center;
	color: #707070;
	font-weight:bold;
}
#make-goal .task-input {
	width: 90%;
	height: 80px;
	float: right;
	background-color: #E4C7C5;
	font-size: 170%;
	text-align: center;
}
#make-goal .task-input-add {
	width: 90%;
	height: 60px;
	background-color: #E4C7C5;
	margin-top:10px;
	text-align: center;
	line-height: 60px;
	font-size: 60px;
	float: right;
}
#make-goal .goal-form-submit {
	float: right;
	width: 120px;
	height: 40px;
	margin: 10px;
	text-align: center;
	line-height: 40px;
	font-size: 25px;
	border: solid 2px;
	border-radius: 30px;
	border-color: #d9d9d9;
	color: #610A1D;
}
#make-goal .wrapper-task-input {
	width: 100%;
	height: 80px;
	float: right;
	text-align: center;
	margin-top:15px;
	position:relative;
	overflow: hidden;
	
} 
#make-goal .btn-delete-task {
	width: 20px;
	height:20px;
	background-color: #e6e6e6;
	position: absolute;
	top:0px;
	right:0px;
}
#make-goal .btn-delete-task:hover {
	width: 20px;
	height:20px;
	background-color: red;
	position: absolute;
	top:0px;
	right:0px;
}
/** end make-goal **/

/** start show-goal **/
#show-goal {
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	position: absolute;
 	top: 0px;
 	transform: rotateY(0deg);
}
#show-goal .goal-wrapper {
	padding-top: 150px;
	width: 100%;
	height: 100px;
	color: #707070;
	font-weight:bold;
	font-size: 50px;
  	font-family: sans-serif;
  	font-size: 60px;
  	font-weight: 200;
	text-align: center;	
}
#show-goal .task-wrapper{
	background-color: #e6e6e6;
	width: 85%;
	height: 120px;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 20px;
	color: #707070;
	font-weight:bold;
	position: relative;
}
#show-goal .btn-nudge {
	font-size: 35px;
	line-height: 120px;
	width: 100%;
	color: #707070;
	font-weight: bold;
	background-color: #E4C7C5;
}
#show-goal .nudge-number {
	position: absolute;
	right: 40px;
	top: 50px;
}
#show-goal .glow {
    -webkit-animation: beat 0.9s ease 0s infinite normal;
    -webkit-animation-iteration-count: 3;
    -moz-animation: beat 0.9s ease 0s infinite normal;
    animation: beat 0.9s ease 0s infinite normal;
}
@-webkit-keyframes fade-in{
    0%{
        opacity:1;
    }
    50%{
        opacity:0.2;
        font-size: 1.02em;
    }
    100%{
        opacity:1;
    }
}
@-webkit-keyframes beat {
    0% {-webkit-transform: scale(1);}
    50% {-webkit-transform: scale(1.02);}
    100% {-webkit-transform: scale(1);}
}
/**  end show-goal **/

/** start user-card **/
/* #user-card{
	position:absolute;
	width: 100px;
	height: 60px;
	top: 300px;
	left: 100px;
	background-color: #ECE3DC;
	display: none;
} */
#user-card .btn-logout{
	background-color: #760706;
	position: absolute;
	left: 20px;
	top: 20px;
}
/** end user-card **/

/**spreadNav**/
#ani {
    position:absolute;
    left:0; top:0;
    width:100%;
    height:100%;
    background:#760706;
    z-index:21;
    transform:translate3d(-100%,0,0);
}
#ani.active {
    transition:transform .5s;
}

.realData {
    width:100%;
    height:100%;
    background-color: #F5E8E8;
    float:left;
    position:absolute;
}

.realCover {
    width:100%;
    height:100%;
    background-color:#760706;
    float:left;
}

#wholeWrap{
    width:65vw;
    height:100vh;
    left: 0px;
    top:0px;
    /* background-color:black; */
    overflow: hidden;
    position: relative;
}

*{
    margin: 0;
    padding: 0;
}
/** end spreadNav**/

/** Start friendsBar **/

#friendsBar {
  width: 300px;
  height: 100%;
  float: right;
  top: 0;
  background-color: #34495e;
  transform: translate3d(0,0,0);
  transition: 500ms transform ease-in-out;
}

.toggle#friendsBar {
  transform: translate3d(-300px,0,0);
}

#friendsBar ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#friendsBar li {
  color: white;
  line-height: 2em;
  position: relative;
}

#friendsBar li a {
  color: white;
  display: block;
  position: relative;
  text-decoration: none;
  padding: 10px;
  font-weight: 300;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-top: 1px solid #406081;
  border-bottom: 1px solid #2c3e50;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

#friendsBar li a:hover {
  background: #3d566e;
}

#toggle_button {
  display: block; 
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: -55px;
  width: 45px;
  height: 8px;
  background: #fff;
}
#toggle_button:before {
  display: block;
  content:"";
  background-color: white;
  height: 8px;
  margin: 11px auto 0px;
  width: 45px;
}
#toggle_button:after {
  display: block;
 content:"";
  background-color: white;
  height: 8px;
  width: 45px;
  margin: 3px auto 0px;
}

/*font face*/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/boeCNmOCCh-EWFLSfVffDg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}

/** end friendsBar **/

.submit-nudge{
	background-color:#F5E8E8;
	margin-left: 35%;
	width:50%;
}

