input {
	box-sizing: border-box;
}
input[type=submit][disabled] {
	cursor: not-allowed !important;
	background-color: #eeeeee !important;
	border-color: #eeeeee !important;
	color: #ffffff !important;
}
.dp-none {
	display: none !important;
}
/*회원가입 혹은 로그인 창 팝업 시 오버레이를 위한 class*/
.overlay-darken {
	background: rgba(0, 0, 0, 0.6);
}
.index-body {
	/*background-image: url("../img/home-bg.jpg");*/
	/*background-position: center top;*/
	margin: 0px;
	overflow: hidden;
}
.videobg {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	height: auto;
	width: auto;
	min-height: 100%;
	min-width: 100%;
	opacity: .8;
	z-index: 0;
}

.title {
	position: absolute;
	width: 100%;
	margin-top: 70px;
	font-size: 5rem;
	color: #fff;
	text-align: center;
}
.sign-link-wrapper {
	position: absolute;
	width: 100%;
	text-align: center;
	margin-top: 270px;
	font-size: 1.5rem;
	color: #fff;
}
.sign-link-border {
	display: inline;
	border: 3px solid;
	padding: 5px 10px;
}	
.sign-link-wrapper span {
	vertical-align: middle;
}
.sign-link-wrapper a:link,
.sign-link-wrapper a:visited,
.sign-link-wrapper a:hover,
.sign-link-wrapper a:active {
	text-decoration: none;
	color: #fff;
	position: relative;
	z-index: 10;
	vertical-align: middle;
}
.form-wrapper {
	width: 100%;
	height: 100%;
	display: table;
	position: absolute;
}
.form-wrapper input {
	width: 100%;
	border: 1px solid #ECE3DC;
	font-size: 0.875rem;
	line-height: 1.5;
	font-weight: 400;
}
#signup-form,
#signin-form {
	display: table-cell;
	vertical-align: middle;
}
.form-dody {
	margin: auto;
	width: 100%;
	max-width: 250px;
	border: 1px solid;
	background-color: #FFF;
	border-radius: 10px;
	padding: 10px 30px;
	box-shadow: 0 0 15px #000;
}
.close-mark {
	float: right;
	margin-right: -20px;
	cursor: pointer;
}
.form-title {
	text-align: center;
}
#signup-form-fields,
#signin-form-fields {
	list-style-type: none;
	padding: 0px;
}
#signup-form-fields li,
#signin-form-fields li {
	position: relative;
}
.responser {
	margin: 0;
	position: absolute;
	color: red;
	text-align: right;
	width: 100%;
	font-size: 0.8rem;
}
#signup-form-submit,
#signin-form-submit {
	color: #fff;
	background-color: #000;
	border-color: #000;
	cursor: pointer;
}
