img{
	width:150px;
	height:150px;
}

#bar{
	background-color: green;
	height: 50px;
}

#left{
	background-color: #FFE4F2;
	width:25%;
	height:100%;
	float:left;
}

#profile{
	height: 200px;
	background-color: #eee;
}

#right{
	background-color: blue;
	width:75%;
	height:100%;
	float:left;
}

#inputGoal{
	background-color: #FEF898;
	width: 500px;
	height:70%;
	margin-left: auto;
	margin-right: auto;

}
/*#friendsList{
	background-color: #C0D5EA;
	width: 200px;
	float: right;
}*/